* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    background-color:  lightblue;
}

.mainBox {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0 auto;
    height: 20rem;
    width: 44rem;
    background-color: blue;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(6, 43, 207);
}


.exp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
}

.op {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
}

.equals {
    padding: 0 20px;
}

.mainBox .op,.exp,.equals {
    color: aliceblue;
    font-size: 48px;
    font-weight: 700;
}

.answer {
    padding: 15px;
    border: none;
    font-weight: 600;
    font-size: 28px;
    width: 50px;
    height: 22px;
    border-radius: 8px;
    background-color: lightblue;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    border: 1px solid white;
    font-size: 22px;
    color: white;
    background-color: green;
    margin: 0 10px;
    font-weight: 600;
    /* font-size: 18px; */
    width: 150px;
    height: 51px;
    border-radius: 8px;
    display: none;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    border: 1px solid white;
    font-size: 22px;
    color: white;
    background-color: green;
    margin: 0 10px;
    font-weight: 600;
    /* font-size: 18px; */
    width: 150px;
    height: 51px;
    border-radius: 8px;
}


.warning {
    font-size: 30px;
    font-weight: 600;
    margin: 3rem auto 0 auto;
    height: 36px;
    width: 431px;
}

.level {
    font-size: 30px;
    height: 10px;
    width: 110px;
    font-weight: 500;
    margin: auto;
    margin-top: 2rem;
}