@font-face {
	font-family: 'Plus Jakarta Sans';
	src: URL('PlusJakartaSans.ttf') format('truetype');
}
body, html {
	user-select: none;
	background-color: #1F2633;
	margin: 40px;
	height: 100%;
	font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}
.alert-box {
	background-color: #DB5461;
	color: #ffffff;
	font-size: 14px;
	line-height: 23px;
	padding: 13px 16px;
	text-align:center;
	font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
	border-radius: 20px;
	margin-bottom: 20px;
}
.alert-box .badge {
	background-color: #B92736;
	border-radius: 3px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}

.main {
	border-radius: 20px;
	margin: 5px;
	margin-top: 20px;
	background-color: #262F40;
	padding:5px;
	padding-left: 20px;
}

.note {
	font-size: 12px;
	margin:10px;
	color: gray;
}

.menu {
	margin:20px;
	text-decoration: none;
	background-color: #364159;
	font-size: 20px;
	padding:10px;
	border-radius: 10px;
}

.bypass {
	cursor: pointer;
	margin:20px;
	text-decoration: none;
	background-color: #6960cf;
	font-size: 20px;
	padding:10px;
	border-radius: 10px;
}
#header {
  background-image: url("header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  top: 0;
  height: 80px;
  width: 100%;
}

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}
img {
	border-radius: 30px;
	border-color: ghostwhite;
	border-style: solid;
}
hr {
	border-color: aliceblue;
	border-style: dashed;
}
b {
  color: Firebrick;
}
a {
  color: #E3E4DB;
}
h1 {
  color: #E3E4DB;
}
p {
  color: #E3E4DB;
}
li {
  list-style: square;
  color: #F8F8FF;
}
ol {
  color: ghostwhite;
}
ul {
  color: ghostwhite;
}
